<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Soundwave</title>
        <link
            rel="icon"
            href="{{ url_for('static', filename='audio-waves.png') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"
        />
    </head>

    <body>
        <div class="container">
            <h1>
                <img
                    src="{{ url_for('static', filename='audio-waves.png') }}"
                    class="small-image"
                />
                Soundwave
            </h1>
            <div>
                <h2 id="inp-title">Record Audio</h2>
                <div>
                    <img
                        src="{{ url_for('static', filename='start.png') }}"
                        class="record-image"
                        id="record-start-button"
                    />
                    <img
                        src="{{ url_for('static', filename='stop.png') }}"
                        class="record-image"
                        id="record-stop-button"
                        style="display: none"
                    />
                </div>
            </div>
            <div id="rtc">
                <h2 id="inp-title">Realtime Audio Caption</h2>
                <div>
                    <pre id="caption-text"></pre>
                </div>
            </div>
        </div>
        <script>
            document
                .getElementById('record-start-button')
                .addEventListener('click', function () {
                    fetch('/start-recording', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                        .then(() => {
                            document.getElementById(
                                'record-start-button'
                            ).style.display = 'none';
                            document.getElementById(
                                'record-stop-button'
                            ).style.display = '';
                            document.getElementById('inp-title').innerText =
                                'Recording...';
                            document.getElementById('rtc').style.display = '';
                            startFetchingCaption();
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                });

            document
                .getElementById('record-stop-button')
                .addEventListener('click', function () {
                    fetch('/stop-recording', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                        .then(() => {
                            document.getElementById(
                                'record-start-button'
                            ).style.display = '';
                            document.getElementById(
                                'record-stop-button'
                            ).style.display = 'none';
                            document.getElementById('inp-title').innerText =
                                'Record Audio';
                            stopFetchingCaption();
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                });

            let captionInterval;

            function startFetchingCaption() {
                captionInterval = setInterval(fetchCaption, 1000);
            }

            function stopFetchingCaption() {
                clearInterval(captionInterval);
            }

            function fetchCaption() {
                fetch('/get-caption')
                    .then((response) => response.json())
                    .then((data) => {
                        document.getElementById('caption-text').innerText =
                            data.caption_text;
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }
        </script>
    </body>
</html>
