<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File Transfer Portal</title>
        <link
            rel="icon"
            href="{{ url_for('static', filename='audio-waves.png') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"
        />
    </head>

    <body>
        <div class="container">
            <h1>
                <img
                    src="{{ url_for('static', filename='audio-waves.png') }}"
                    class="small-image"
                />
                Soundwave
            </h1>
            {% if not is_recording %}
            <div>
                <h2>Record Audio</h2>
                <div class="upload-form">
                    <img
                        src="{{ url_for('static', filename='start.png') }}"
                        class="record-image"
                        id="record-start-button"
                    />
                </div>
            </div>
            {% else %}
            <div>
                <h2>Stop Recording</h2>
                <div class="upload-form">
                    <img
                        src="{{ url_for('static', filename='stop.png') }}"
                        class="record-image"
                        id="record-stop-button"
                        onclick="is_recording = false"
                    />
                </div>
            </div>
            {% endif %}
        </div>
        <script>
            document
                .getElementById('record-start-button')
                .addEventListener('click', function () {
                    is_recording = true;
                    fetch('/start-recording', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).catch((error) => {
                        console.error('Error:', error);
                    });
                });

            document
                .getElementById('record-stop-button')
                .addEventListener('click', function () {
                    fetch('/stop-recording', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).catch((error) => {
                        console.error('Error:', error);
                    });
                });
        </script>
    </body>
</html>
